<!--
=========================================================
* Template for MasterList
=========================================================
Date:
Author:
Purpose:

Available Blocks
* title
* page_title
* stylesheets
* notifications
* main_content
* javascripts
=========================================================
-->
{% extends "base/base.html" %}

{% block title %}
    Dashboard
{% endblock title %}

{% block page_title %}
    Dashboard
{% endblock page_title %}

{% block stylesheets %}
    <link href="{{ url_for('static',filename='css/progress_bar_sm.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block notifications %}
{% endblock notifications %}

{% block javascripts %}
{% endblock javascripts %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col pt-2 pb-4">
                <a href="{{ url_for('order.order_init') }}">
                    <button class="btn btn-lg btn-outline-primary">New Order</button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="card">
                    <h5 class="card-header">
                        New Order
                    </h5>
                    <div class="card-body">
                        <table class="table table-hover table-sm">
                            <thead>
                            <th class="d-none d-sm-table-cell">Order Number</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Total</th>
                            <th>Status</th>
                            </thead>
                            <tbody>
                            {% for item in confirms %}
                                {% if not item.status[0].shipped %}
                                    <tr onclick="location.href='{{ url_for('order.order_new', id=item.id) }}'">
                                        <td class="d-none d-sm-table-cell">{{ item.ordernum }}</td>
                                        <td>{{ item.date_created.strftime("%m/%d/%y") }}</td>
                                        <td>{{ item.person.full_name() }}</td>
                                        <td>{{ "$%.2f"|format(item.total) }}</td>
                                        <td>
                                            {% if item.status[0].shipped %}Shipped
                                            {% elif item.status[0].ready2ship %}Ready 2 Ship
                                            {% elif item.status[0].post %}Post Process
                                            {% elif item.status[0].print %}Print
                                            {% elif item.status[0].prep %}Pre Process
                                            {% elif item.status[0].confirmed %}Confirmed
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <h5 class="card-header">
                                Completed Orders
                            </h5>
                            <div class="card-body">
                                <p class="card-text">
                                <table class="table table-hover table-sm">
                                    <thead>
                                    <th class="d-none d-sm-table-cell">Order Number</th>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    </thead>
                                    <tbody>
                                    {% for item in confirms %}
                                        {% if item.status[0].shipped %}
                                            <tr onclick="location.href='{{ url_for('order.order_new', id=item.id) }}'">
                                                <td class="d-none d-sm-table-cell">{{ item.ordernum }}</td>
                                                <td>{{ item.date_created.strftime("%m/%d/%y") }}</td>
                                                <td>{{ item.person.full_name() }}</td>
                                                <td>{{ "$%.2f"|format(item.total) }}</td>
                                                <td>
                                                    {% if item.status[0].shipped %}Shipped
                                                    {% elif item.status[0].ready2ship %}Ready 2 Ship
                                                    {% elif item.status[0].post %}Post Process
                                                    {% elif item.status[0].print %}Print
                                                    {% elif item.status[0].prep %}Pre Process
                                                    {% elif item.status[0].confirmed %}Confirmed
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
