<!--
=========================================================
* Template for MasterList
=========================================================
Date:
Author:
Purpose:

Available Blocks
* title
* page_title
* stylesheets
* notifications
* main_content
* javascripts
=========================================================
-->
{% extends "base/base.html" %}

{% block title %}
    Dashboard
{% endblock title %}

{% block page_title %}
    Dashboard
{% endblock page_title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block notifications %}
{% endblock notifications %}

{% block javascripts %}
{% endblock javascripts %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col pt-2 pb-4">
                <a href="{{ url_for('order.order_init') }}">
                    <button class="btn btn-lg btn-outline-primary">New Order</button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="card">
                    <h5 class="card-header">
                        Prep
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            ...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <h5 class="card-header">
                        Print
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            ...
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <h5 class="card-header">
                        Post Process
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            ...
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <h5 class="card-header">
                        Shipping
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            ...
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header">
                        New Order
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            ...
                        </p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <h5 class="card-header">
                                Completed Orders
                            </h5>
                            <div class="card-body">
                                <p class="card-text">
                                    ...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
