<!--
=========================================================
* Template for MasterList
=========================================================
Date:1-8-2023
Author:Jeremy Guill
Purpose:Display a single record from the Master List table in detail.

Available Blocks
* title
* page_title
* stylesheets
* notifications
* main_content
* javascripts
=========================================================
-->
{% extends "base/base.html" %}

{% block title %}
    Details for {{ record.event_name }}
{% endblock title %}

{% block page_title %}
    <b><span class="text-uppercase">{{ record.event_name }}</span></b>
    <a href="{{ url_for('masterlist.edit_single', id=record.id) }}"> <i class="bi bi-pencil-square"></i></a>

{% endblock page_title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block notifications %}
{% endblock notifications %}

{% block main_content %}
    <section class="section">
        <div class="row">

            <div class="col-8">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Venue</h5>
                        <span class="text-uppercase text-primary"><b>{{ record.venue.name }}</b></span>
                        <p>
                            {% if record.venue.address != None %}
                                {{ record.venue.address }}<br>
                            {% endif %}
                            {{ record.venue.city }}, {{ record.venue.state }} {{ record.venue.zipcode }}<br>
                            {% if record.venue.phone != None %}
                                <a href="tel:{{ record.venue.phone }}">{{ record.venue.phone }}</a><br>
                            {% endif %}
                            {% if record.venue.phone != None %}
                                <a href="{{ record.venue.website }}" target="_blank">Website</a>
                            {% endif %}
                        </p>
                    </div>
                </div><!-- End Venue -->

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Promoter</h5>
                        <span class="text-uppercase text-primary"><b>{{ record.promoter.name }}</b></span>
                        <p>
                            {% if record.promoter.address != None %}
                                {{ record.promoter.address }}<br>
                            {% endif %}
                            {{ record.promoter.city }}, {{ record.promoter.state }} {{ record.promoter.zipcode }}<br>
                            {% if record.promoter.phone != None %}
                                <a href="tel:{{ record.promoter.phone }}">{{ record.promoter.phone }}</a><br>
                            {% endif %}
                            {% if record.promoter.phone != None %}
                                <a href="{{ record.promoter.website }}" target="_blank">Website</a>
                            {% endif %}
                        </p>
                        <div class="card">
                            <h5 class="card-title ps-3">People Information</h5>
                            <div class="card-body">
                                {% for person in persons %}
                                    <div>
                                        <div class="d-flex mb-3">
                                            <div class="me-auto">
                                                <h5><b>{{ person.name.title() }}<br></b></h5>
                                                {#TODO: Place person details url in href when created#}
                                                {#TODO: Fix the person.name so it displays as black and not as a link#}
                                                {% if person.title %}
                                                    <small>{{ person.title.title() }}</small><br>
                                                {% endif %}
                                                {% if person.email %}
                                                    <small><a
                                                            href="mailto:{{ person.email }}">{{ person.email }}</a></small>
                                                    <br>
                                                {% endif %}
                                                {% if person.phone %}
                                                    <small><a
                                                            href="tel:{{ person.phone }}">{{ person.phone }}</a></small>
                                                {% endif %}
                                            </div>
                                            <div class="">
                                                <a class="icon" href="#" data-bs-toggle="dropdown"><i
                                                        class="bi bi-three-dots"></i></a>
                                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                                    <li class="dropdown-header text-start">
                                                        <h6>{{ person.name }}</h6>
                                                    </li>
                                                    <li><a class="dropdown-item"
                                                           href="{{ url_for('masterlist.person_edit',personid=person.id, recordid=record.id) }}">Edit</a>
                                                    </li>
                                                    <li><a class="dropdown-item"
                                                           href="{{ url_for('masterlist.person_delete', personid=person.id, recordid=record.id) }}">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {% if not loop.last %}
                                        <hr>
                                    {% endif %}
                                {% endfor %}
                                <div class="pt-4">
                                    {# DONE: Make button work when people is created, possiably a modal#}
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#addperson">
                                        Add Person
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!-- End Promoter -->
            </div><!-- End left Column -->

            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Dates</h5>
                        {{ full_text }}<br>
                        <hr>
                        {% for date in date_list %}
                            {{ date.strftime("%m/%d/%Y") }}
                        {% endfor %}
                        <hr>
                        {{ record.dates_text }}
                    </div>
                </div><!-- End Dates -->

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Types</h5>
                        <div class="row-cols-2">
                            <div class="col-6">
                                {% for type in types %}
                                    {{ type }}
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div><!-- End Types -->
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Notes</h5>
                            <div class="col">
                                {# Make Button work #}
                                <button class="btn btn-success">Add New Note</button>
                                <div class="row">
                                    <table id="notes" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Note</th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-striped">
                                        {% for note in notes %}
                                            <tr>
                                                {#TODO: Fix time zone error in the time of when the note was created.#}
                                                <td>{{ note.note | upper() }}<br>
                                                    <span class="text-muted small">{{ note.date_created.strftime("%x %X") }}</span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Notes -->
                </div>
            </div>

        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="addperson" tabindex="-1" aria-labelledby="addpersonLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addpersonLabel">Add a person to {{ record.promoter.name }}</h5>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('masterlist.person_add', id=record.id) }}" method="post">
                        <div>
                            <label class="form_label" for="name">Name</label>
                            <input class="form_control" type="text" name="name" id="name">
                        </div>
                        <div>
                            <label class="form_label" for="title">Title</label>
                            <input class="form_control" type="text" name="title" id="title">
                        </div>
                        <div>
                            <label class="form_label" for="phone">Phone</label>
                            <input class="form_control" type="text" name="phone" id="phone">
                        </div>
                        <div>
                            <label class="form_label" for="fax">Fax</label>
                            <input class="form_control" type="text" name="fax" id="fax">
                        </div>
                        <div>
                            <label class="form_label" for="email">Email</label>
                            <input class="form_control" type="text" name="email" id="email">
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Person</button>
                </div>
                </form>`
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block javascripts %}
{% endblock javascripts %}