<!--
=========================================================
* Template for MasterList
=========================================================
Date:
Author:
Purpose:

Available Blocks
* title
* page_title
* stylesheets
* notifications
* main_content
* javascripts
=========================================================
-->
{% extends "base/base.html" %}

{% block title %}
{% endblock title %}

{% block page_title %}
    Dashboard
{% endblock page_title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block notifications %}
{% endblock notifications %}

{% block javascripts %}
{% endblock javascripts %}

{% block main_content %}
    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-7">
                <div class="row">
                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-lg-6 col-sm-12">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">Events</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ countrec }}</h6>
                                        {#                                        <span class="text-danger small pt-1 fw-bold">12%</span> <span#}
                                        {#                                            class="text-muted small pt-2 ps-1">decrease</span>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Customers Card -->
                </div>
                <div class="row">
                    <!-- Applications Card -->
                    <div class="col-xxl-4 col-lg-6 col-sm-12">
                        <div class="card info-card applications-card">
                            <div class="card-body">
                                <h5 class="card-title">Applications</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-journal-text"></i>
                                    </div>
                                    <div class="ps-3">
                                        {#DONE: Configure this once the booking system is in place.#}
                                        <h6>{{ countapps }}</h6>
                                        {#<span class="text-danger small pt-1 fw-bold">12%</span> <span#}
                                        {#class="text-muted small pt-2 ps-1">decrease</span>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Applications Card -->

                    <!-- Bookings Card -->
                    <div class="col-xxl-4 col-lg-6 col-sm-12">
                        <div class="card info-card bookings-card">
                            <div class="card-body">
                                <h5 class="card-title">Bookings</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-bookmark-fill"></i>
                                    </div>
                                    <div class="ps-3">
                                        {#DONE: Configure this once the booking system is in place.#}
                                        <h6>{{ countbookings }}</h6>
                                        {#<span class="text-danger small pt-1 fw-bold">12%</span> <span#}
                                        {#class="text-muted small pt-2 ps-1">decrease</span>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Bookings Card -->

                    <!-- To Pay Card -->
                    <div class="col-xxl-4 col-lg-6 col-sm-12">
                        <div class="card info-card topay-card">
                            <div class="card-body">
                                <h5 class="card-title">To Pay</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        {#DONE: Configure this once the booking system is in place.#}
                                        <h6>{{ countpay }}</h6>
                                        <span class="text-danger small pt-1 fw-bold">{{ amountpay }}</span>
                                        {#<span class="text-muted small pt-2 ps-1">decrease</span>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Pay Card -->
                </div>
            </div><!-- End Left side columns -->

            <!-- Right side columns -->
            <div class="col-lg-5">

                <!-- Bookings -->
                <div class="card">
                    <div class="card-body pb-0">
                        <h5 class="card-title">Bookings</h5>
                        <table class="table table-borderless table-sm">
                            <thead>
                            <tr>
                                <th>Event</th>
                                <th>Icons</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for booking in bookings %}
                                <tr onclick="location.href='{{ url_for('booking.home', id=booking.eventid) }}'"
                                    {% if booking.cl_interested == True and booking.cl_appsubmission == False %}style="background-color: skyblue"{% endif %}>
                                    <td>
                                        {{ booking.event.event_name }}</td>
                                    <td>
                                        {% if booking.cl_appsubmission %}<i class="bi bi-journal-text"></i>{% endif %}
                                        {% if booking.cl_appapproved %}
                                            <i class="bi bi-check-square-fill"></i>{% endif %}
                                        {% if booking.cl_feepaid %}<i class="bi bi-currency-dollar"></i>{% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div><!-- End Website Traffic -->

            </div><!-- End Right side columns -->
        </div>
    </section>
{% endblock main_content %}
