<!--
=========================================================
* Template for MasterList
=========================================================
Date:
Author:
Purpose:

Available Blocks
* title
* page_title
* stylesheets
* notifications
* main_content
* javascripts
=========================================================
-->
{% extends "base/base.html" %}

{% block title %}
{% endblock title %}

{% block page_title %}
    Dashboard
{% endblock page_title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block notifications %}
{% endblock notifications %}

{% block javascripts %}
{% endblock javascripts %}

{% block main_content %}
    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">
                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-xl-12">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">Events</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ countrec }}</h6>
                                        {#                                        <span class="text-danger small pt-1 fw-bold">12%</span> <span#}
                                        {#                                            class="text-muted small pt-2 ps-1">decrease</span>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Customers Card -->
                </div>
                <div class="row">
                    <!-- Bookings Card -->
                    <div class="col-xxl-4 col-xl-12">
                        <div class="card info-card bookings-card">
                            <div class="card-body">
                                <h5 class="card-title">Bookings</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-motherboard"></i>
                                    </div>
                                    <div class="ps-3">
                                        {#DONE: Configure this once the booking system is in place.#}
                                        <h6>{{ countbookings }}</h6>
                                        {#<span class="text-danger small pt-1 fw-bold">12%</span> <span#}
                                        {#class="text-muted small pt-2 ps-1">decrease</span>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Bookings Card -->

                    <!-- Bookings Card -->
                    <div class="col-xxl-4 col-xl-12">
                        <div class="card info-card applications-card">
                            <div class="card-body">
                                <h5 class="card-title">Applications</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-motherboard"></i>
                                    </div>
                                    <div class="ps-3">
                                        {#DONE: Configure this once the booking system is in place.#}
                                        <h6>{{ countapps }}</h6>
                                        {#<span class="text-danger small pt-1 fw-bold">12%</span> <span#}
                                        {#class="text-muted small pt-2 ps-1">decrease</span>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Applications Card -->

                    <!-- To Pay Card -->
                    <div class="col-xxl-4 col-xl-12">
                        <div class="card info-card topay-card">
                            <div class="card-body">
                                <h5 class="card-title">To Pay</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-motherboard"></i>
                                    </div>
                                    <div class="ps-3">
                                        {#DONE: Configure this once the booking system is in place.#}
                                        <h6>{{ countpay }}</h6>
                                        <span class="text-danger small pt-1 fw-bold">{{ amountpay }}</span>
                                        {#<span class="text-muted small pt-2 ps-1">decrease</span>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Applications Card -->
                </div>
            </div><!-- End Left side columns -->

            <!-- Right side columns -->
            <div class="col-lg-4">

                <!-- Website Traffic -->
                <div class="card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>

                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                    </div>

                    <div class="card-body pb-0">
                        <h5 class="card-title">Website Traffic <span>| Today</span></h5>

                        <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

                    </div>
                </div><!-- End Website Traffic -->

            </div><!-- End Right side columns -->
        </div>
    </section>
{% endblock main_content %}
