<!--
=========================================================
* Template for MasterList
=========================================================
Date:
Author:
Purpose:

Available Blocks
* title
* page_title
* stylesheets
* notifications
* main_content
* javascripts
=========================================================
-->
{% extends "base/base.html" %}

{% block title %}
    Dashboard
{% endblock title %}

{% block page_title %}
    Dashboard
{% endblock page_title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block notifications %}
{% endblock notifications %}

{% block javascripts %}
{% endblock javascripts %}

{% block main_content %}
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-3 col-sm-12 order-last">

                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center info-card events-card">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-journal-text"></i>
                            </div>
                            <h5 class="card-title px-2">Events - {{ countrec }}</h5>
                        </div>
                        <div class="d-flex align-items-center info-card topay-card">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-journal-text"></i>
                            </div>
                            <h5 class="card-title px-2">To Pay - {{ countpay }}
                                <span class="small text-danger">{% if countpay == 0 %}{{ "${:,.2f}".format(0.00) }}
                                {% endif %}</span></h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-12 order-3"> {#Bookings#}
                <div class="card info-card bookings-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-calendar2-event-fill"></i>
                            </div>
                            <h5 class="card-title px-2">Bookings - {{ countbookings }}</h5>
                        </div>
                        <table class="table table-hover table-sm">
                            <thead>
                            <tr>
                                <th>Event</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for booking in bookings %}
                                <tr onclick="location.href='{{ url_for('booking.home', id=booking.eventid) }}'"
                                    {% if booking.cl_interested == True and booking.cl_appsubmission == False %}style="background-color: skyblue"{% endif %}>
                                    <td>
                                        {{ booking.event.event_name }}</td>
                                    <td>
                                        {% if booking.info_dateend != booking.info_datestart %}
                                            {{ booking.info_datestart|format_date("%m/%d") }} -
                                            {{ booking.info_dateend|format_date("%m/%d") }}
                                        {% else %}
                                            {{ booking.info_datestart|format_date("%m/%d/%y") }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- End Bookings Card -->

            <!-- Applications Card -->
            <div class="col-lg-3 col-sm-12 order-2"> {#Applications#}
                <div class="card info-card applications-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-journal-text"></i>
                            </div>
                            <h5 class="card-title px-2">Apps - {{ countapps }}</h5>
                        </div>
                        <table class="table table-hover table-sm">
                            <thead>
                            <tr>
                                <th>Event</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for app in applications %}
                                <tr onclick="location.href='{{ url_for('booking.home', id=app.eventid) }}'"
                                    {% if app.cl_interested == True and app.cl_appsubmission == False %}style="background-color: skyblue"{% endif %}>
                                    <td>
                                        {{ app.event.event_name }}</td>
                                    <td>
                                        {% if app.info_datestart != None %}
                                            {% if app.info_dateend != app.info_datestart %}
                                                {{ app.info_datestart|format_date("%m/%d") }} -
                                                {{ app.info_dateend|format_date("%m/%d") }}
                                            {% else %}
                                                {{ app.info_datestart|format_date("%m/%d/%y") }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- End Applications Card -->
            <!-- Interest Card -->
            <div class="col-lg-3 col-sm-12 order-1"> {#Applications#}
                <div class="card info-card interest-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-lightbulb-fill"></i>
                            </div>
                            <h5 class="card-title px-2">Interest - {{ countinterest }}</h5>
                        </div>
                        <table class="table table-hover table-sm">
                            <thead>
                            <tr>
                                <th>Event</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for interest in interests %}
                                <tr onclick="location.href='{{ url_for('booking.home', id=interest.eventid) }}'"
                                    {% if interest.cl_interested == True and interest.cl_interestsubmission == False %}style="background-color: skyblue"{% endif %}>
                                    <td>
                                        {{ interest.event.event_name }}</td>
                                    <td>
                                        {% if interest.info_datestart != None %}
                                            {% if interest.info_dateend != interest.info_datestart %}
                                                {{ interest.info_datestart|format_date("%m/%d") }} -
                                                {{ interest.info_dateend|format_date("%m/%d") }}
                                            {% else %}
                                                {{ interest.info_datestart|format_date("%m/%d/%y") }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- End Applications Card -->
        </div><!-- End row -->
    </section>
{% endblock main_content %}
