<!--
=========================================================
* Template for MasterList
=========================================================
Date:
Author:
Purpose:

Available Blocks
* title
* page_title
* stylesheets
* notifications
* main_content
* javascripts
=========================================================
-->
{% extends "base/base.html" %}

{% block title %}
{% endblock title %}

{% block page_title %}
{% endblock page_title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block notifications %}
{% endblock notifications %}

{% block main_content %}
{% endblock main_content %}

{% block javascripts %}
{% endblock javascripts %}