<!--
=========================================================
* Template for MasterList
=========================================================
Date:
Author:
Purpose:

Available Blocks
* title
* page_title
* stylesheets
* notifications
* main_content
* javascripts
=========================================================
-->
{% extends "base/base.html" %}

{% block title %}
    New Order
{% endblock title %}

{% block page_title %}
    Seed Start New Order
{% endblock page_title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block notifications %}
{% endblock notifications %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">Picture</div>
                    <img id="selected-image" src="{{ url_for('static', filename='img/seedstarters/placeholder.png') }}"
                         alt="Seed Start" width="100%">
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">Details</div>
                    <form class="form" action="{{ url_for('seedstart.seedstart_order_new', id=order.id) }}"
                          method="post">
                        <div class="card-body">
                            <div class="form-floating">
                                <select class="form-select" id="product" name="product"
                                        aria-label="Choose a Product">
                                    <option selected value="placeholder">Select A Product</option>
                                    {% for product in products %}
                                        <option value="{{ product.name }}">{{ product.display_name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="product">Choose a Product</label>
                            </div>
                            <div class="form-floating">
                                <select class="form-select" id="basin" name="basin"
                                        aria-label="Choose a Basin Color">
                                    <option selected>Select A Basin Color</option>
                                    <option value="Clear">Clear</option>
                                    <option value="Blue">Blue</option>
                                    <option value="Red">Red</option>
                                    <option value="Green">Green</option>
                                    <option value="Sparkle Blue">Sparkle Blue</option>
                                    <option value="Brown">Brown</option>
                                    <option value="Black">Black</option>
                                    <option value="White">White</option>
                                    <option value="Orange">Orange</option>
                                    <option value="Purple">Purple</option>
                                    <option value="Lime Green">Lime Green</option>
                                </select>
                                <label for="basin">Choose a Basin Color</label>
                            </div>
                            <div class="form-floating">
                                <select class="form-select" id="pod" name="pod"
                                        aria-label="Choose a Pod Color">
                                    <option selected>Select A Pod Color</option>
                                    <option value="Clear">Clear</option>
                                    <option value="Blue">Blue</option>
                                    <option value="Red">Red</option>
                                    <option value="Green">Green</option>
                                    <option value="Sparkle Blue">Sparkle Blue</option>
                                    <option value="Brown">Brown</option>
                                    <option value="Black">Black</option>
                                    <option value="White">White</option>
                                    <option value="Orange">Orange</option>
                                    <option value="Purple">Purple</option>
                                    <option value="Lime Green">Lime Green</option>
                                </select>
                                <label for="pod">Choose a Basin Color</label>
                            </div>
                            <div class="form-floating">
                                <select class="form-select" id="cover" name="cover"
                                        aria-label="Choose a Cover Color">
                                    <option selected>Select A Cover Color</option>
                                    <option value="Clear">Clear</option>
                                    <option value="Blue">Blue</option>
                                    <option value="Red">Red</option>
                                    <option value="Green">Green</option>
                                    <option value="Sparkle Blue">Sparkle Blue</option>
                                    <option value="Brown">Brown</option>
                                    <option value="Black">Black</option>
                                    <option value="White">White</option>
                                    <option value="Orange">Orange</option>
                                    <option value="Purple">Purple</option>
                                    <option value="Lime Green">Lime Green</option>
                                </select>
                                <label for="cover">Choose a Cover Color</label>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Notes for this item" id="notes" name="notes"
                                          style="height: 100px"></textarea>
                                <label for="notes">Notes</label>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary btn-lg" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block javascripts %}
    <script>
        function countChars() {
            var input = document.getElementById("name");
            var count = document.getElementById("char-count");
            count.innerText = 25 - input.value.length;
        }
    </script>
    <script>
        const selectElement = document.getElementById('product');
        const imageElement = document.getElementById('selected-image');

        selectElement.addEventListener('change', () => {
            const selectedValue = selectElement.value;
            const imagePath = "{{ url_for('static', filename='img/seedstarters') }}/" + selectedValue + ".png";
            console.log(imageElement)
            imageElement.src = imagePath;
        });
    </script>
{% endblock javascripts %}