<!--
=========================================================
* Template for Order Central - Order_new.html
=========================================================
Date:
Author:
Purpose:

Available Blocks
* title
* page_title
* stylesheets
* notifications
* main_content
* javascripts
=========================================================
-->
{% extends "base/base.html" %}

{% block title %}
    New Order
{% endblock title %}

{% block page_title %}
    New Order
{% endblock page_title %}

{% block stylesheets %}
    <link href="{{ url_for('static',filename='css/progress_bar.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block notifications %}
{% endblock notifications %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <div id="statuscard" class="card">
                    <div class="card-body">
                        <div class="row row-cols-1">
                            <div class="col pt-4">
                                <div class="pbcontainer">
                                    <ul class="progressbar">
                                        <li {% if record.status[0].confirmed %}class="active"{% endif %}>Confirmed
                                        </li>
                                        <li {% if record.status[0].prep %}class="active"{% endif %}>Pre</li>
                                        <li {% if record.status[0].print %}class="active"{% endif %}>Print</li>
                                        <li {% if record.status[0].post %}class="active"{% endif %}>Post</li>
                                        <li {% if record.status[0].ready2ship %}class="active"{% endif %}>
                                            Ready2Ship
                                        </li>
                                        <li {% if record.status[0].shipped %}class="active"{% endif %}>Shipped</li>
                                    </ul>
                                </div>
                            </div>
                            <form id="status_form" method="post" class="form"
                                  action="{{ url_for('order.change_status', recordid=record.id) }}">
                                <div class="form-floating">
                                    <select class="form-select" id="status" name="status"
                                            aria-label="Status">
                                        <option>Select the next step</option>
                                        <option value="Confirmed">Order Confirmed and Paid For</option>
                                        <option value="Pre">Order enters Pre Production</option>
                                        <option value="Print">Order is being Printed</option>
                                        <option value="Post">Order enters Post production</option>
                                        <option value="ReadyShip">Order is Ready to ship</option>
                                        <option value="Shipped">Order has been shipped</option>
                                    </select>
                                    <label for="status">Status</label>
                                </div>
                            </form>
                            <span class="small">
                                {% if record.status[0].confirmed %}Confirmed:
                                    {{ record.status[0].confirmed_when.strftime("%a %B %-d %Y @ %-I:%M %p") }}
                                {% endif %}
                                {% if record.status[0].prep %}<br>Pre Processing:
                                    {{ record.status[0].prep_when.strftime("%a %B %-d %Y @ %-I:%M %p") }}
                                {% endif %}
                                {% if record.status[0].print %}<br>Printed:
                                    {{ record.status[0].print_when.strftime("%a %B %-d %Y @ %-I:%M %p") }}
                                {% endif %}
                                {% if record.status[0].post %}<br>Post Processing:
                                    {{ record.status[0].post_when.strftime("%a %B %-d %Y @ %-I:%M %p") }}
                                {% endif %}
                                {% if record.status[0].ready2ship %}<br>Ready To Ship:
                                    {{ record.status[0].ready2ship_when.strftime("%a %B %-d %Y @ %-I:%M %p") }}
                                {% endif %}
                                {% if record.status[0].Shipped %}<br>Shipped:
                                    {{ record.status[0].Shipped_when.strftime("%a %B %-d %Y @ %-I:%M %p") }}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                {% if not record.status[0].confirmed %}
                    <div class="card p-3">
                        <div class="row">
                            <div class="col p-4">
                                <a href="{{ url_for('ornament1.ornament1_order_new', id=record.id) }}">
                                    <button class="btn btn-outline-primary">Ornament 1</button>
                                </a>
                            </div>
                            <div class="col py-1">
                                <a href="{{ url_for('seedstart.seedstart_order_new', id=record.id) }}">
                                    <button class="btn btn-outline-primary">Seed Starters</button>
                                </a>
                            </div>
                            <div class="col py-1">
                                <button class="btn btn-outline-primary">Plant Tags</button>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col">
                        <div id="customer" class="card">
                            <div class="card-header">
                                <h5>Customer Information</h5>
                            </div>
                            <div class="card-body">
                                <form class="form" method="post">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-floating mb-1">
                                                <input class="form-control" id="fname" name="fname" type="text"
                                                       placeholder="First Name" value="{{ record.person.fname }}"
                                                />
                                                <label for="firstName">First Name</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-floating mb-2">
                                                <input class="form-control" id="lname" name="lname" type="text"
                                                       placeholder="Last Name" value="{{ record.person.lname }}"
                                                />
                                                <label for="lastName">Last Name</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="form-floating mb-2">
                                                <input class="form-control" id="mailing_address" name="mailing_address"
                                                       type="text"
                                                       placeholder="Address" value="{{ record.person.mailing_address }}"
                                                />
                                                <label for="address">Address</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-floating mb-2">
                                                <input class="form-control" id="mailing_city" name="mailing_city"
                                                       type="text"
                                                       placeholder="City" value="{{ record.person.mailing_city }}"
                                                />
                                                <label for="city">City</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-floating mb-2">
                                                <input class="form-control" id="mailing_state" name="mailing_state"
                                                       type="text"
                                                       placeholder="State" value="{{ record.person.mailing_state }}"
                                                />
                                                <label for="state">State</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-floating mb-2">
                                                <input class="form-control" id="mailing_zipcode" name="mailing_zipcode"
                                                       type="text"
                                                       placeholder="Zipcode" value="{{ record.person.mailing_zipcode }}"
                                                />
                                                <label for="zipcode">Zipcode</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-floating mb-2">
                                                <input class="form-control" id="phone" name="phone" type="text"
                                                       placeholder="Phone" value="{{ record.person.phone }}"
                                                />
                                                <label for="phone">Phone</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-floating mb-2">
                                                <input class="form-control" id="email" name="email" type="email"
                                                       placeholder="Email Address" data-sb-validations="email"
                                                       value="{{ record.person.email }}"/>
                                                <label for="emailAddress">Email Address</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <input type="submit" class="btn btn-primary">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="items" class="card order-2">
                    <div class="card-header">
                        <form id="event_form" method="post" class="form"
                              action="{{ url_for('order.change_event', recordid=record.id) }}">
                            <div class="form-floating">
                                <select class="form-select" id="event" name="event"
                                        aria-label="Event">
                                    <option>Select the Event</option>
                                    {% for ae in active_events %}
                                        <option value="{{ ae.id }}"
                                                {% if record.eventid == ae.id %}selected{% endif %}>{{ ae.event.event_name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="event" class="form-label">Event</label>
                            </div>
                        </form>
                        <h5>Items</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover table-sm table-borderless">
                            <thead>
                            <th>Product</th>
                            <th class="text-end">Price</th>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr>
                                    {% set seedlist = [3,4,5,2] %}
                                    <td>
                                        {% if item.productfk == 1 %} <!-- Product: Ornament 1 -->
                                            <b>{{ item.products.display_name.title() }}</b><br>
                                            <span class="small ">
                                                {{ item.json_data['name'] }}<br>
                                                {{ item.json_data['background'] }} / {{ item.json_data['foreground'] }}
                                            </span>
                                        {% elif item.productfk in seedlist %} <!-- Product: Seed Starter -->
                                            <b>{{ item.products.display_name.title() }}</b><br>
                                            <span class="small ">
                                                Basin: {{ item.json_data['basin'] }}<br>
                                                Pod: {{ item.json_data['pod'] }}<br>
                                                Cover: {{ item.json_data['cover'] }}
                                            </span>
                                        {% endif %}
                                        {% if item.json_data['notes']|length >=1 %}
                                            <span style="font-size: smaller"><br>Note: {{ item.json_data['notes'] |capitalize }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-end">{{ "$%.2f"|format(item.saleprice) }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td class="text-end">Total</td>
                                <td class="text-end">{{ "$%.2f"|format(record.total) }}</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div> <!-- END ITEMS -->

                {% if record.status[0].confirmed %}
                    <div class="card p-3">
                        <div class="row">
                            <div class="col p-4">
                                <button type="button" class="btn btn-danger btn-lg" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                    <i class="bi bi-x-lg"></i>
                                    <i class="bi bi-x-lg"></i>
                                    <i class="bi bi-x-lg"></i>
                                    DELETE RECORD
                                    <i class="bi bi-x-lg"></i>
                                    <i class="bi bi-x-lg"></i>
                                    <i class="bi bi-x-lg"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


    <!-- Modal HTML -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="display: flex; justify-content: center; align-items: center;">
            <div class="modal-content">
                <div class="modal-header">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <img src="https://www.pngitem.com/pimgs/m/156-1560992_icon-red-circle-cross-png-transparent-png.png"
                             alt="" width="80px" height="80px">
                    </div>

                </div>
                <div class="modal-title w-100">
                    <h4>Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">Do you
                        really want to delete these records? This process cannot be undone.</p>
                </div>
                <div class="modal-footer justify-content-center"
                     style="box-sizing: border-box;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: center;align-items: center;-ms-flex-pack: center!important;justify-content: center!important;padding: 10px 15px 25px;border-top: 1px solid #dee2e6;border-bottom-right-radius: calc(.3rem - 1px);border-bottom-left-radius: calc(.3rem - 1px);border: none;text-align: center;border-radius: 5px;font-size: 13px;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancel
                    </button>
                    <a href="{{ url_for('order.order_delete', id=record.id) }}">
                        <button type="button" class="btn btn-danger">
                            Delete
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock main_content %}

{% block javascripts %}
    <script>
        // Get the select element
        const statusSelect = document.getElementById("status");

        // Get the current status from the database
        const confirmed = {{record.status[0].confirmed|lower}};
        const pre = {{record.status[0].prep|lower}};
        const print = {{record.status[0].print|lower}};
        const post = {{record.status[0].post|lower}};
        const ready2ship = {{record.status[0].ready2ship|lower}};
        const shipped = {{record.status[0].shipped|lower}};

        // Disable all options by default
        for (let i = 1; i < statusSelect.options.length; i++) {
            statusSelect.options[i].disabled = true;
        }

        // Set up the event listener
        window.addEventListener("load", function () {
            // Enable the appropriate options based on the current status
            if (!confirmed) {
                // If confirmed is false, enable the confirmed option
                statusSelect.options[1].disabled = false;
            }
            if (confirmed && !pre) {
                // If confirmed is true and pre is false, enable the pre option
                statusSelect.options[2].disabled = false;
            }
            if (confirmed && pre && !print) {
                // If confirmed and pre are true and print is false, enable the print option
                statusSelect.options[3].disabled = false;
            }
            if (confirmed && pre && print && !post) {
                // If confirmed, pre, and print are true and post is false, enable the post option
                statusSelect.options[4].disabled = false;
            }
            if (confirmed && pre && print && post && !ready2ship) {
                // If confirmed, pre, print, and post are true and ready2ship is false, enable the ready2ship option
                statusSelect.options[5].disabled = false;
            }
            if (confirmed && pre && print && post && ready2ship && !shipped) {
                // If all previous options are true and shipped is false, enable the shipped option
                statusSelect.options[6].disabled = false;
            }
        });
    </script>
    <script>
        // Set up the event listener to run when the select element changes
        statusSelect.addEventListener("change", function () {

            // Get the form element
            const form = document.getElementById("status_form");

            // Submit the form
            form.submit();
        });
    </script>
    <script>
        const eventSelect = document.getElementById("event");

        // Set up the event listener to run when the select element changes
        eventSelect.addEventListener("change", function () {

            // Get the form element
            const form = document.getElementById("event_form");

            // Submit the form
            form.submit();
        });
    </script>
{% endblock javascripts %}
